.Home {
    margin-top: -10px;
}

.horizontal-line {
    width: 90%; /* Ajustez la largeur selon vos besoins */
    height: 2px;
    background-image: linear-gradient(to right, transparent, #000, transparent);
    border: none;
    margin: 0 auto; /* Centrer horizontalement */
}

.home-text1 {
    margin-left: 30%;
    font-size: 45px;
    width: 40%;
    font-family: 'Minerva Modern', sans-serif;
    font-weight: 400;
}

.Carousel {
    width: 100%;
}
.carousel, .carousel-inner {
    width: 100% !important;
}


.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%; /* Changer la largeur pour occuper toute la largeur disponible */
    height: auto; /* Garder le ratio hauteur/largeur de l'image */
    margin: auto; /* Centrer l'image horizontalement */
}

.carousel-caption h3 {
    position: absolute;
    top: -280%;
    left: 50%;
    font-size: 40px;
    transform: translate(-50%, -50%);
    text-align: center; /* Pour centrer le texte horizontalement */
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement intérieur */
}

.carousel-caption p {
    position: absolute;
    top: -120%;
    left: 50%;
    width: 150%;
    font-size: 26px;
    transform: translate(-50%, -50%);
    text-align: center; /* Pour centrer le texte horizontalement */
    padding: 20px; /* Espacement intérieur */
}

.carousel-indicators {
    position: absolute;
    bottom: 10px; /* Ajustez la distance du bas selon vos besoins */
    left: 35%; /* Déplace les indicateurs vers le centre */
    transform: translateX(-50%); /* Centre les indicateurs horizontalement */
}


@media (max-width: 1410px) {
    .carousel-caption h3 {
        font-size: 30px;
    }
    .carousel-caption p {
        font-size: 20px;
    }
}

@media (max-width: 1100px) {
    .home-text1 {
        font-size: 35px;
    }
    .carousel-caption h3 {
        font-size: 20px;
    }
    .carousel-caption p {
        font-size: 16px;
    }
}

@media (max-width: 850px) {
    .home-text1 {
        font-size: 25px;
    }
    .carousel-caption h3 {
        font-size: 20px;
    }
    .carousel-caption p {
        display: none;
    }
}

/* -------------------- Support Section --------------------------*/
.supportYou {
    margin: 0;
    font-family: 'Minerva Modern', sans-serif;
    font-style: normal;
    font-weight: 460;
    font-size: 36px;
    line-height: 43px;

}

.support-section {
    display: flex;
}

.support-item {
    flex: 1;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-right: 4px solid #ccc; /* Ajoute une bordure à droite */
    padding-right: 20px; /* Ajoute un espacement à droite */
}

.support-item:last-child {
    border-right: none; /* Supprime la bordure à droite pour le dernier élément */
}

.support-item p {
    width: 50%;
    margin-left: 25%;
    font-family: 'Minerva Modern', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 43px;
}

.support-item img {
    width: 70px; /* ajustez la taille selon vos besoins */
    height: auto; /* garde le ratio d'aspect */
}

@media (max-width: 1200px) {

    .support-section {
        flex-direction: column; /* Affichez les éléments en colonne pour les écrans plus petits */
    }

    .support-item {
        border-right: none; /* Supprimez la bordure à droite pour que chaque élément occupe la largeur totale */
        padding-right: 0; /* Supprimez l'espacement à droite */
        text-align: center; /* Centrez le contenu */
        margin-bottom: 40px; /* Ajoutez un espacement entre les éléments */
        border-top: 4px solid #ccc; /* Ajoute une bordure à droite */
    }

    .support-item p {
        width: auto; /* Réinitialisez la largeur */
        margin-left: 25%; /* Réinitialisez la marge */
    }

    .support-item img {
        width: 80px; /* Ajustez la taille de l'image selon vos besoins */
        height: auto; /* Gardez le ratio d'aspect */
        margin-left: 5%; /* Réinitialisez la marge */
    }
}


@media (max-width: 1000px) {
    .support-item p {
        width: 100%; /* Réinitialisez la largeur */
        margin-left: 0; /* Réinitialisez la marge */
    }
    .Home {
        margin-top: -20px;
    }
}

@media (max-width: 800px) {
    .support-item p {
        width: 100%; /* Réinitialisez la largeur */
        margin-left: 0; /* Réinitialisez la marge */
    }
}

.support-link {
    font-family: 'minerva-modern', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 43px; /* Hauteur de ligne 43px */
    margin-bottom: 20px; /* Espacement en bas */
}

.learn-more-button {
    background-color: #007bff; /* Couleur de fond */
    color: #ffffff; /* Couleur du texte */
    border: none; /* Supprimer la bordure */
    padding: 10px 20px; /* Ajouter un espacement intérieur */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Afficher le curseur pointer */
    border-radius: 10px; /* Ajouter une bordure arrondie */
    text-decoration: none; /* Supprimer le soulignement par défaut */
}
.learn-more-button:hover {
    background-color: #0056b3; /* Couleur de fond au survol */
    color: #ffffff;
    text-decoration: none;
}


.content {
    display: flex;
}

.image-container {
    flex: 1;
}

.text-container {
    flex: 3;
    padding-left: 20px; /* Espacement entre l'image et le texte */
    width: 10%;
    max-width: 650px; /* Limiter la largeur maximale du texte à 400 pixels */
    word-wrap: break-word;
    margin-right: 250px;
}

.image-container img {
    width: 650px; /* Ajustez la largeur de l'image selon vos besoins */
    height: auto; /* Pour conserver les proportions de l'image */
}

.text-support {
    text-align: left; /* Alignement du texte vers la gauche */
    margin-top: 10px; /* Espacement en haut */
    max-width: 950px; /* Limiter la largeur maximale du texte à 400 pixels */
    word-wrap: break-word;
    font-family: "freight-text-pro", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

}

@media (max-width: 1400px) {
    .text-container {
        margin-right: 10%;
    }
}

@media (max-width: 1100px) {
    .image-container img {
        width: 250px; /* Ajustez la largeur de l'image selon vos besoins */
        height: auto; /* Pour conserver les proportions de l'image */
    }
}
@media (max-width: 950px) {
    .image-container img {
        display: none;
    }
    .text-container {
        margin-right: 20%;
    }
    .text-support {
        text-align: center;
        margin: 0;
    }
}

/* ---------- Trust Company -------*/

.trust-text-span {
    color: #000000;
    font-family: "Inter-LightItalic", sans-serif;
    font-size: 48px;
    line-height: 130%;
    font-weight: 300;
}

.trustCompany-image {
    height: 450px;
    max-width:200%;

}

@media (max-width: 960px) {
    .trust-text-span {
        font-size: 38px;
        /* Réduire la taille de la police */
    }
    .trustCompany-image {
        height: 350px;
    }
}
@media (max-width: 750px) {
    .trustCompany-image {
        height: 250px;
    }
}