.Mbc1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.content-wrapper {
    color: white;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: 100%;
}

.content-wrapper2 {
    grid-template-columns: auto 1fr;
    align-items: center;
    width: 100%;
}

.rectangle-gauche {
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
}

.mbc-title {
    font-family: Inter, serif;
    text-align: center;
    font-size: 64px;
    margin-bottom: 20px;
}

.mbc-intro {
    font-family: Inter, serif;
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
}

.video-container-mbc {
    width: 100%;
    height: auto;
    background-color: #b30021;
    padding-top: 5%;
    background-image: url('../Img/fond-video.jpg');
    background-position: center;
    padding-bottom: 5%;
}

.videoMBC {
    width: 60%;
    height: auto;
    margin-left: 30%;
    background: #333;
    padding: 9px;
    border: 12px outset #e0e0e0;
    border-radius: 3%;
}

.mbc-text2 {
    color: rgba(0, 0, 0, 1);
    width: 490px;
    height: 150px;
    font-family: Kadwa, serif;
    text-align: left;
    font-size: 48px;
}

.mbc-text3 {
    color: rgba(0, 0, 0, 1);
    width: 535px;
    height: 224px;
    font-family: Inter, serif;
    text-align: left;
    font-size: 18px;
}


.part2-title {
    color: rgba(0, 0, 0, 1);
    font-family: Geneva, Verdana, sans-serif;
    text-align: left;
    font-size: 64px;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 10%;
    line-height: 75px;
}

.part2-texte {
    color: rgba(0, 0, 0, 1);
    width: 50%;
    font-family: Inter, serif;
    text-align: center;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}



.info-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info-card {
    position: relative;
    background: linear-gradient(to bottom right, #ffffff, #a7e1e6df); /* Dégradé de couleur */
    border-radius: 15px; /* Coins arrondis */
    width: 250px; /* Largeur de chaque carte */
    height: 300px; /* Hauteur de chaque carte */
    margin: 20px; /* Espace entre les cartes */
    padding: 20px; /* Espacement intérieur */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Ombre */
    overflow: hidden; /* Cacher tout contenu qui dépasse */
    transition: transform 0.3s, box-shadow 0.3s; /* Animation */
}

.info-card:hover {
    transform: translateY(-10px); /* Légère élévation au survol */
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5); /* Ombre plus marquée */
}

.card-icon {
    font-size: 50px; /* Taille de l'icône */
    text-align: center; /* Centrer l'icône */
    margin-bottom: 15px; /* Espacement sous l'icône */
    color: black;  /* Couleur de l'icône */
    margin-top: 35px;
}

.card-title {
    font-size: 1.7em; /* Taille de l'icône */
    font-weight: bold; /* Police épaisse */
}


.info-text {
    visibility: hidden; /* Masquer le texte par défaut */
    position: absolute; /* Positionnement absolu */
    top: 0; /* Positionner en haut */
    left: 0; /* Positionner à gauche */
    right: 0; /* Positionner à droite */
    bottom: 0; /* Positionner en bas */
    background-color: rgba(0, 0, 0, 0.8); /* Couleur de fond semi-transparente */
    color: white; /* Couleur du texte */
    padding: 20px; /* Espacement intérieur */
    border-radius: 15px; /* Coins arrondis */
    display: flex; /* Flex pour centrer le contenu */
    justify-content: center; /* Centre horizontal */
    align-items: center; /* Centre vertical */
    text-align: center; /* Centre le texte */
    z-index: 1; /* S'assurer que le texte est au-dessus de la carte */
    transition: visibility 0.3s ease-in; /* Animation pour la visibilité */
    font-size: 1.5em;
}

.info-card:hover .info-text {
    visibility: visible; /* Affiche le texte au survol */
}





/* Media Queries pour rendre la vidéo responsive */

@media (max-width: 1700px) {


    .part2-texte {
        text-align: center;
        max-width: 774px;
    }

    .part2-title {
        text-align: center;
        max-width: 800px;
    }
}

@media (max-width: 1500px) {
    .content-wrapper {
        grid-template-columns: 1fr; /* Change de layout pour une seule colonne */
    }

    .rectangle-gauche {
        width: 90%;
        margin-left: 5%;
        margin-top: 0; /* Enlever le margin-top négatif pour petits écrans */
    }

    .videoMBC {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px; /* Ajout d'espace au-dessus de la vidéo */
    }
}

@media (max-width: 700px) {
    .videoMBC {
        width: 100%; /* La vidéo occupe toute la largeur */
        margin-left: 0;
        margin-bottom: 20px;
    }
}
