.ei39_1037_105_619 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:1462px;
	height:454px;
}
.e39_1056 { 
	width:484px;
	height:265px;
	border-top-left-radius:32px;
	border-top-right-radius:32px;
	border-bottom-left-radius:32px;
	border-bottom-right-radius:32px;
	background-image:url(../Img/LogoTafili.png);
	background-repeat:no-repeat;
	background-size:cover;
}

.ellipse_1038 { 
	border-radius:500px;
	background-color:rgba(101.00000157952309, 31.000000052154064, 255, 1);
	width:64px;
	height:64px;
}

